.box{
    width: 80px;
    height: 40px;
    margin: 60px 40px;
    border-radius: 6px;
}
.box-one{
    background-color: aqua;

}
.box-two{
    background-color: blue;
}
.box:hover{
    transform: scale(2);
    transition: all 2s;
}
/* //////////////////////// */
.animaciones2{
    width: 200px;
    height: 200px;
    background-color: rgb(221, 101, 2);
}
/* .animaciones2:active{

transform: translate(500px) scale(3) rotate(90deg);
transition: .5s all;


} */
/* ///////////////otro cambios para mergear///////////// */
/* .animaciones2:active{
transform: translate(200px) rotate(180deg) scale(2);
background-color: aquamarine;
transition: .8s all; 
}*/
.n1{
    transform: translateX(200px);
    transition: 3s ease-in-out;

}
.n2{
    transform: translateX(400px);
    transition: 3s ease-in;

}
.n3{
    transform: translateX(600px);
    transition: 3s ease-out;

}
.n4{
    transform: translateX(800px);
    transition: 3s step-end;

}

/* /////////////////////////////////// */
/* circulos */
.circle1 , .circle2,.circle3, .circle4, .circle5{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;




}
.circle1{
    background-color: blueviolet;
    transition: all 1.5s ease;
}
.circle2{
    background-color: rgb(43, 226, 134);
    transition: all 1.5s ease-in;
}
.circle3{
    background-color: burlywood;
    transition: all 1.5s ease-in-out;
    
}
.circle4{
    background-color: crimson;
    transition: all 1.5s ease-out;
}
.circle5{
    background-color: darkcyan;
    transition: all 1.5s e;
}
.container-circle:hover .circle1,
.container-circle:hover .circle2,
.container-circle:hover .circle3,
.container-circle:hover .circle4,
.container-circle:hover .circle5{
    transform: translateX(200px);

}


.container.squere{
    width: 100px;


}
.squere1, .squere2{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin: 50px;
    position: absolute;
}
.squere1{
    background-color: rgb(80, 255, 197);
}
.squere2{
    background-color: chocolate;
    transition: all .8s;
}
.squere2:hover{
    transform: translate(20px,20px);
}
.conbinado{
    width: 75px;
    height: 75px;
    margin: 0 auto;
    background-color: blueviolet;
    transition: all 2s;
}
.conbinado:hover{
    transform: rotate(90deg) scale(2) translateX(140px);

}

.animaciones:hover{
    animation: cambiodecolor 4s;
}

@keyframes cambiodecolor{
    0%{
        background-color: aquamarine;
    }
    15%{
        background-color: black;
        border-radius: 50%;
    }
}